* text=auto !eol
/apertium-en-lv.en-lv.dix -text
/apertium-en-lv.lv-en.t1x -text
/apertium-en-lv.lv.dix -text
dev/find-equals-output -text
dev/find-equals.pl -text
dev/nouns.chopped.dix -text
dev/nouns.sorted.speling -text
dev/np-top.speling -text
dev/proper-nouns.speling -text
dev/table-dump.pl -text
dev/verb-table-to-speling.pl -text
dev/verbs.dix -text
dev/wikilist -text
