/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config
/config.in
/config.log
/config.status
/configure
/en-lv.autobil.bin
/en-lv.autogen.bin
/en-lv.automorf.bin
/en-lv.autopgen.bin
/en-lv.mode
/en-lv.t1x.bin
/en-lv.t2x.bin
/en-lv.t3x.bin
/install-sh
/lv-en.autobil.bin
/lv-en.autogen.bin
/lv-en.automorf.bin
/lv-en.autopgen.bin
/lv-en.mode
/lv-en.t1x.bin
/lv-en.t2x.bin
/lv-en.t3x.bin
/missing
/modes
/stamp-h1
